<section>
    <h2 class="fs-6">License information</h2>

    @if (!data) {
    <P class="fs-6 text-secondary">Please, enter a valid license key.</P>
    } @else {
    <div class="row">
        <div class="col-3">
            <p class="mt-3 text-secondary">Company name: </p>
            <p class="mt-3 text-secondary">Expiry date: </p>
            <p class="mt-3 text-secondary">Extensions: </p>

        </div>
        <div class="col-2">
            <p class="mt-3 text-dark">{{data.company}} </p>
            <p class="mt-3 text-dark">{{data.expiry}} </p>
            <p class="mt-3 text-dark">{{data.extensions}} </p>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p class="mt-3 text-secondary">Users: </p>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="border col-2">
                    <p class="mt-3 text-dark">Level </p>
                </div>
                <div class="border col-3">
                    <p class="mt-3 text-dark">Licensed users </p>
                </div>
                <div class="border col-3">
                    <p class="mt-3 text-dark">Registered users </p>
                </div>
            </div>

            @for ( user of data.users; track $index ) {
            <div class="row">
                <div class="border col-2">
                    <p class="mt-3 text-dark">
                        {{user.Level}}
                    </p>
                </div>
                <div class="border col-3">
                    <p class="mt-3 text-dark">
                        {{user.License}}
                    </p>
                </div>
                <div class="border col-3">
                    <p class="mt-3 text-dark">
                        {{user.Registered}}
                    </p>
                </div>
            </div>
            }

        </div>
    </div>

    }


</section>