<h2 class="fs-6">License information</h2>

<div>
    <div class="row">
        <div class="col-2">
            <p class="mt-3 text-secondary">Company name: </p>
            <p class="mt-3 text-secondary">Expiry date: </p>
            <p class="mt-3 text-secondary">Extensions: </p>
            
        </div>
        <div class="col-2">
            <p class="mt-3 text-secondary">InsFocus </p>
            <p class="mt-3 text-secondary">31/12/2024 </p>
            <p class="mt-3 text-secondary">Workflows </p>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p class="mt-3 text-secondary">Users: </p>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="border col-2">
                    <p class="mt-3 text-secondary">Level </p>
                    <p class="mt-3 text-secondary"> regular </p>
                    <p class="mt-3 text-secondary"> full </p>
                </div>
                <div class="border col-2">
                    <p class="mt-3 text-secondary">Licensed users </p>
                    <p class="mt-3 text-secondary">50 </p>
                    <p class="mt-3 text-secondary">50 </p>
                </div>
                <div class="border col-2">
                    <p class="mt-3 text-secondary">Registered users </p>
                    <p class="mt-3 text-secondary">14</p>
                    <p class="mt-3 text-secondary">12 </p>
                </div>
            </div>
        </div>
    </div>
</div>