<section>
    <form [formGroup]="licenseForm" (ngSubmit)="handleSubmit()">

        @if (showError) {
            <p class="alert alert-danger">
                License key is invalid
            </p>
        }

        @if (checkValidation('licenseKey', 'required'))
            {
            <p class="alert alert-danger">
                License key is required
            </p>
            }

        <label for="exampleFormControlTextarea1" class="form-label text-secondary">License key</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" formControlName="licenseKey"></textarea>
        <button type="submit" class="btn btn-primary mt-3 px-5">Update</button>
    </form>
</section>